.gdbar img {
  width: 350px !important;
  height: 175px !important;
  margin: 8px 8px;
}

.gdbar {
  width: 400px !important;
  height: 200px !important;
}

slides > slide:not(.nobackground):before {
  width: 150px;
  height: 75px;
  background-size: 150px 75px;
}